# Virtual environments and Python junk
venv/
.env
__pycache__/
.ipynb_checkpoints/


.DS_Store
.vscode/
*.zip
*.csv
*.parquet
*.log
**/__pycache__/*
uv.lock
production-env
.venv
*.egg-info/
# Ignore datasets
05_src/data/
